<mat-card class="card">
    <mat-card-header>
        <mat-card-title>
            {{product.name}}
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        {{product.description}}
    </mat-card-content>
    <mat-card-actions>
        <button mat-flat-button color="primary" (click)="onClick()">
            Buy {{product.price | currency}}
            <mat-icon>
                add_shopping_cart
            </mat-icon>
        </button>
    </mat-card-actions>
</mat-card>