<section class="products">
    <app-product 
        (addToCartClick)="addToCart($event)"
        [product]="product"  
        *ngFor="let product of products"
        >
    </app-product>
</section>